body {
  background-color: #EAF6F6;
}

hr {
  background-color: white;
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
h4{
  color: #66BFBF;
}
img {
  border-radius: 4px;
/* padding: 2px;*/
  width: 120px;
  height: 180px;
}

/*#profileImage
{
  border-radius: 50%;
}*/
